@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,1000;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-image: url("/public/images/fondo.jpg");
    margin:0;
    font-family: 'Nunito', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img {
    display: block;
    width: 100%;
}
h1,h2,h3,h4, p,ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style:none;
}

button{
    border: none;
    background-color: transparent;
}
input{
    outline: 0;
}